@import "tailwindcss";

/* =========================================
   SCROLLBAR PERSONALIZADO (Para el Sidebar)
   ========================================= */
/* Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #334155 transparent; /* slate-700 / transparent */
}

/* Chrome, Edge, Safari */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px; /* Ancho vertical */
  height: 4px; /* Alto horizontal */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #334155; /* slate-700 */
  border-radius: 9999px; /* rounded-full */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #475569; /* slate-600 al pasar el mouse */
}

/* =========================================
   CUSTOM SPINNER LOADER (Tu código actual)
   ========================================= */
.spinner {
  width: 46px;
  height: 46px;
  display: grid;
  animation: spinner-rotate 3s infinite;
}

.spinner::before,
.spinner::after {
  content: "";
  grid-area: 1/1;
  border: 9px solid;
  border-radius: 50%;
  border-color: #474bff #474bff #0000 #0000;
  mix-blend-mode: darken;
  animation: spinner-rotate 1s infinite linear;
}

.spinner::after {
  border-color: #0000 #0000 #dbdcef #dbdcef;
  animation-direction: reverse;
}

@keyframes spinner-rotate {
  100% {
    transform: rotate(1turn);
  }
}